<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Список книг</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Pages</th>
                <th></th>
                <th></th>
            </tr>

            <tr th:each="book : ${books}">
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.pages}"></td>
                <td>
                    <a th:href="@{|/edit-form/${book.id}|}">Edit</a>
                </td>
                <td>
                    <a th:href="@{|/delete/${book.id}|}">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/create-form">Add book</a>
    </body>
</html>
