<html>
    <head>
        <title> Test Html </title>
    </head>

    <body>
        <h1>Список любимых книг!</h1>

        <table border=1>
            <tr>
                <th>Название</th>
                <th>Автор</th>
                <th>Жанр</th>
            </tr>


            <tr>
                <td>1984</td>
                <td>Оруэл</td>
                <td>Антиутопия</td>
            </tr>

            <tr>
                <td>Три товарища</td>
                <td>Ремарк</td>
                <td>Роман</td>
            </tr>


            <tr>
                <td>Богатый Папа, Бедный Папа</td>
                <td>Кийосаки</td>
                <td>Личные финансы</td>
            </tr>

        </table>
        <br>
        <br>
        <form>
            <label>Название книги</label>
            <input name = "name" type = "text"/>
            <label>Цена книги</label>
            <input name = "name" type = "text"/>
            <input type = "submit">
        </form>
    </body>
</html>

